---
slug: /
title: Index
---

# {{ devcontainername }} devcontainer

{{ description }}

## 💡 About

This repository contains a [`Dev Container`](https://containers.dev)
tailored for developing projects in
[`{{ accountname }}`](https://github.com/{{ accountname }}).
